{% load static %}
<html>

<head>
    <title>Ajout d'un compte utilisateur</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>

<body>
    {% include "navBar.html" %}
    <h1>
        <center>Ajouter un compte utilisateur
    </h1>
    </center><br>
    <div class="container">
        <div class="card mb-6">
            <div class="card-body">
                <div style="text-align:'center';">
                    <form action="add_user_action/" method="post">
                        {% csrf_token %}
                        {{ user_form.as_div }}
                        <input class="btn btn-success" type="submit" value="Créer">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
<script type="text/javascript">
    window.onload = function() {
    document.getElementById("id_confirm").onchange = function() {
    var pass1 = document.getElementById("id_mot2pass");
    var pass2 = document.getElementById("id_confirm");
    if (pass1!=pass2)
    alert ("Mot de passe et confirmation mot de passe ne sont pas identiques ! Veuillez corriger")};
};
</script>